
@import url('https://fonts.googleapis.com/css?family=Contrail+One|Racing+Sans+One|Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton&display=swap');

/* --------------------------- Diseño Gral --------------------------*/

p{
	font-size: 13px;
}

h2{
	font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(186, 5, 17, 1);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: gray;
}

.navbar-light .navbar-toggler {
    background: rgba(186, 5, 17, 1);
}

header h1{
	font-size: 40px;
	color: white;
	text-align: center;
	font-family: "Squada One";
	background-position: center;
	padding: 30px;
	margin: 0px;
}

body{
	background-color: black;
	color: white;
	font-family: "Alatsi";
}

nav.ppal{
	background-color: rgba(0, 0, 0, 1);
	font-family: "Squada One";
}
nav.ppal a, nav.ppal a:visited, nav.ppal a:active, nav.ppal a:focus{
	font-size: 30px;
	margin: 0px 25px;
}

nav.ppal a.logoppal2, nav.ppal a.logoppal2:visited, nav.ppal a.logoppal2:active, nav.ppal a.logoppal2:focus {
    margin: auto;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white	;
}

nav.ppal a:hover{
	color: white;
	transition: 1.5s all;
	transform: scale(1.1);
}

nav.ppal > ul.ppal{
	margin: 2px;
}
footer{
	background-color: black;
	padding: 1px;
}

footer a{
	font-size: 40px;
	margin: 0px 15px;
}

footer span a{
	font-size: 25px
}

nav.ppal > ul li{
	display: inline-block;
}

nav.ppal li ul{
	display: none;
	position: absolute;
}

nav.ppal li a:hover + ul{
	display: block;
}

nav.ppal li a:hover + ul.desplegable{
	display: block;
}

ul.desplegable li{
	display: block !important;
	background-color: rgba(0, 0, 0, 0.85);
}

ul.desplegable:hover{
	display: block
}

/*---------------------- INICIO -----------------------*/

body.inicio{
	background-image: url(../imagenes/fondoinicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

header.inicio{
	display: flex;
	flex-wrap: wrap;
	height: 865px;
}

li h1{
	color: rgba(186, 5, 17, 1);
}


nav ul li a:visited, nav ul li a:active, nav ul li a:focus, nav ul li a{
	color: rgba(186, 5, 17, 1);
	font-size: 35px;
	text-decoration: none;
	margin: 3px;
	display: inline-block;
	line-height: 1.3;
}

nav ul li a{
	transition: all 1s;
}

nav ul li a:hover{
	color: white;
	transform: scale(1.2);
	text-decoration: none;
}


nav ul li{
	font-family: "Squada One";
	text-transform: uppercase;
	font-size: 30px;
	list-style: none;
}

nav.inicial{
	font-family: "Lobster";
	color: rgba(186, 5, 17, 1);
	margin-bottom: 5%;
}

section.socialmedia{
	text-align: center;
	margin-left: auto;
	margin-right: 1%;
}

section.socialmedia a{
	display: block;
}

section.socialmedia a, section.socialmedia a:visited, section.socialmedia a:active, section.socialmedia a:focus{
		color: white;
		font-size: 35px;
} 

section.socialmedia a:hover{
	color: rgba(186, 5, 17, 1);
	transition: 1s all;
}

footer.ppal{
	background: rgb(0,0,0, 0.7);
}

img.logoppal{
	width: 55%;
	margin-left: 9%;
}

img.logoppal2{
	width: 50%;
}

a.logoppal2{
	flex-basis: 20%
}

/*----------------- LA BANDA -------------------*/

body{
	background-image: url(../imagenes/fondosecciones.jpg);
}

.fondoarticle{
	background-color: rgba(0, 0, 0, 0.5);
}


/*------------- DISCOGRAFIA ------------------*/


article section#disco{
	width: 50%;
}

article.discografia li{
	color: gray;
}


/*---------------- GALERIA -------------------*/

div.videoyoutube{
	text-align: center;
}

.imggaleria{
	margin: 0 auto;
}



/*--------------- CONTACTO ---------------- */

form{
	margin: 5% auto 15% 40%;
}
/* -------- RESPONSIVE DESIGN ------------*/

@media only screen and (max-width: 320px) {

	body{
		font-size: 10px;
		background-position: center;
	}
	nav.inicial{
		flex-basis: 25%;
		margin-bottom: 55%;
	}

	footer.ppal{
		width: 100%;
		margin: auto;
		padding: auto;
	}


	img.logoppal{
		width: 75%;
	}

	nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	transform: scale(1);
	font-size: 25px;
	}

	section.socialmedia a:hover, section.socialmedia a:focus, section.socialmedia a:active{
	color: white;
	transition: 1s all;
	font-size: 25px;
	}

	section.socialmedia a{
		font-size: 25px;
	}

	nav ul li a:visited, nav ul li a:active, nav ul li a:focus, nav ul li a{
		font-size: 25px;
	}

	img.logoppal2{
		width: 100%;
	}

	a.logoppal2{
		flex-basis: 40%;
	}

	article.discografia li, article.discografia ol, li {
	font-size: 15px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 600px){

		body{
		font-size: 10px;
		background-position: center;
	}
	nav.inicial{
		flex-basis: 25%;
		margin-bottom: 25%;
	}

	footer.ppal{
		width: 100%;
		margin: auto;
		padding: auto;
	}

	a{
		font-size: 25px;
	}

	img.logoppal{
		width: 80%;
	}

	nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	transform: scale(1);
	font-size: 25px;
	}

	section.socialmedia a:hover, section.socialmedia a:focus, section.socialmedia a:active{
	color: white;
	transition: 1s all;
	font-size: 25px;
	}

	section.socialmedia a{
		font-size: 30px;
	}

	img.logoppal2{
		width: 100%;
	}

	a.logoppal2{
		flex-basis: 40%;
	}

	article.discografia li, article.discografia ol, li {
	font-size: 15px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1024px){

		body{
		font-size: 10px;
		background-position: center;
	}
	nav.inicial{
		flex-basis: 25%;
		margin-bottom: 25%;
	}

	footer.ppal{
		width: 100%;
		margin: auto;
		padding: auto;
	}

	a{
		font-size: 25px;
	}

	img.logoppal{
		width: 70%;
	}

	nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	transform: scale(1);
	font-size: 25px;
	}

	section.socialmedia a:hover, section.socialmedia a:focus, section.socialmedia a:active{
	color: white;
	transition: 1s all;
	font-size: 25px;
	}

	section.socialmedia a{
		font-size: 30px;
	}

	img.logoppal2{
		width: 100%;
	}

	a.logoppal2{
		flex-basis: 20%;
	}

	article.discografia li, article.discografia ol {
	font-size: 15px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1199px){

		body{
		font-size: 10px;
		background-position: center;
	}
	
	nav.inicial{
		flex-basis: 25%;
		margin-bottom: 25%;
	}

	footer.ppal{
		width: 100%;
		margin: auto;
		padding: auto;
	}

	a{
		font-size: 30px;
	}

	img.logoppal{
		width: 70%;
	}

	nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	transform: scale(1);
	font-size: 25px;
	}

	section.socialmedia a:hover, section.socialmedia a:focus, section.socialmedia a:active{
	color: white;
	transition: 1s all;
	font-size: 25px;
	}

	section.socialmedia a{
		font-size: 35px;
	}

}