/* ----
h1{
	background-color: black;
}

.header__navigation{
	background: #008cba;
	padding: 1rem 0;
	margin: 2rem 0;
	text-transform: uppercase;
}

.header__navigation--secondary{
	@extend .header__navigation;
	background: #dfe0e0;
}

*/
.social--facebook {
  background-color: #7b7b7b; }

.social--instagram {
  background-color: rgba 0, 0, 0, 1; }

.social--twitter {
  background-color: rgba 1, 1, 1, 1; }
